<nav class="navbar navbar-static-top">
    <div class="nav-header">
        <div class="navbar-header">
            <a class="navbar-brand" target="_self" href="../index.html">
                <span class="project-title vm" id="title">KMap3D Demo</span>
            </a>
            <div id="suffix-title"></div>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
                    aria-expanded="false">
                <i class="fa fa-bars"></i>
            </button>
        </div>
    </div>
</nav>
